
#wrapper {
    display: block;
    width: 1000px;
    margin: 0 auto;
    background: grey;
    padding: 15px 25px;
    border-radius: 10px;
    top: 600px;
}
#wrapper h1 {
    font-size: 40px;
    color: red;
}
#wrapper .h1 {
    font-size: 25px;
}
#wrapper h2 {
    font-size: 20px;
    color: whitesmoke;
}
#wrapper p {
    font-size: 15px;
}
#wrapper .space {
    content: "";
    display: block;
    margin-bottom: 50px;
}
#wrapper br {
    content: "";
    display: block;
    margin-bottom: 30px;
}
#wrapper .q {
    width: 1000px;
    height: 40px;
    font-size: 20px;
}
#wrapper .small {
    content: "";
    display: block;
    margin-top: 30px;
}
label p {
    margin-top: -20px;
    margin-left: 30px;
    font-size: 30px;
}
input {
    margin: 20px 40px;
}
button {
    font-size: 20px;
    padding: 10px;
    margin: 20px 0;
    color: white;
    border: 0;
    border-radius: 10px;
    border-bottom: 3px solid #333;
}
#submit {
    background: green;
}
#reset {
    background: red;
}
#answer {
    border: 1px dashed #ccc;
    background: #eee;
    padding: 0px;
    width: 1000px;
    height: 40px;
    font-size: 35px;
    text-align: center;
}