body {
    background-color: whitesmoke;
}
.menu {
    position: absolute;
    z-index: 2000;
    top: 25px;
    left: 1300px;
    width: 180px;
    height: 250px;
    background-image: url(../images/photo_identite.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.navbar {
    position: absolute;
    top: -30px;
    left: -285px;
    background: none;
    width: 280px;
    height: 210px;
    overflow: hidden;
    color: white;
    transform: translateY(-100%);
    transition: transform 0s linear;
    opacity: 0%;
    margin-top: 10px;
}
.navbar a {
    margin-left: 105px;
    font-size: 25px;
}
.showNav {
    transform: translateY(15%);
    opacity: 100%;
    background-color: grey;
}
.showDesc {
    opacity: 0%;
}
img {
    display: block;
    width: 100%;
}
.imgflo {
    float: left;
    width: 55px;
}
section {
    display: block;
    background-color: whitesmoke;
}
br {
    content: "";
    display: block;
    margin-bottom: 4px;
}
.dates {
    content: "";
    display: block;
    margin-top: 17px;
}
.nws {
    content: "";
    display: block;
    margin-top: 6px;
}
.sto {
    content: "";
    display: block;
    margin-top: 6px;
}
.espace {
    content: "";
    display: block;
    margin-bottom: 55px;
}
header #text {
    display: block;
    position: absolute;
    margin-top: 40px;
    left: 50px;
}
header {
    position: absolute;
    top: 0;
    width: 1544px;
    box-sizing: border-box;
    z-index: 1000;
    background-color: grey;
    height: 225px;
}
header #text .text {
    display: block;
    top: 50px;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: black;
}
header #text .desc {
    font-size: 30px;
    text-align: center;
    font-weight: italic;
    color: black;
    margin-bottom: 3px;
    opacity: 100%;
}
header #text .saut {
    content: "";
    display: block;
    margin-bottom: 50px;
}
header .header {
    content: "";
    display: block;
    margin-bottom: 25px;
}

#pro .recherches{
    display: flex;
    box-sizing: border-box;
}
#pro .recherches .competences {
    flex: auto;
    font-size: 20px;
    text-align: center;
    display: block;
    position: absolute;
    left: 1200px;
    top: 500px;
}
#pro .recherches .competences br {
    content: "";
    display: block;
    margin-bottom: 55px;
}
.br {
    content: "";
    display: block;
    margin-bottom: 25px;
}
#pro .recherches .competences h3 {
    font-size: 25px;
}
#pro .recherches .competences h4 {
    color : black;
    font-size: 23px;
}
.formation .formations {
    display: block;
    position: absolute;
    top: 500px;
    left: 125px;
}
.formation .projets {
    display: block;
    position: absolute;
    top: 925px;
    left: 125px;
}
.formation .projets .br {
    content: "";
    display: block;
    margin-bottom: 45px;
}
.formation h3 {
    font-size: 25px;
}
.formation h4 {
    font-size: 23px;
    color: black;
}
.formation .spe{
    font-size: 18px;
}
.formation .date{
    font-size: 16px;
    font-style: italic;
}
.formation p{
    font-size: xx-large;
    font-style: italic;
}
.formation .projets .espace {
    content: "";
    display: block;
    margin-bottom: 30px;
}
#end .fin {
    display: flex;
    position: absolute;
    top: 1400px;
    left: 125px;
    box-sizing: border-box;
}
#end .fin .experience {
    flex: auto;
}
#end .fin .experience .br {
    content: "";
    display: block;
    margin-bottom: 40px;
}
#end .fin .experience .espace {
    content: "";
    display: block;
    margin-bottom: 35px;
}
#end .fin h3 {
    font-size: 25px;
}
#end .fin h4 {
    font-size: 24px;
    color: black;
}
#end .fin .experience .experiences p.date {
    font-size: 20px;
}
#end .fin .experience .experiences p.description {
    font-size: 21px;
}

#passion .pass .passion {
    flex: auto;
    display: block;
    position: absolute;
    top: 1750px;
    left: 125px;
}
#passion .pass .passion h3 {
    font-size: 25px;
}
#passion .pass .passion h4 {
    font-size: 24px;
    color: black;
}
#passion .pass .passion br {
    content: "";
    display: block;
    margin-bottom: 30px;
}

footer {
    display: flex;
    position: absolute;
    top: 200px;
    width: 1544px;
    box-sizing: border-box;
    height: 200px;
    background-color: grey;
}
footer .adress {
    flex: 1;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
    padding-left: 80px;
    padding-top: 125px;
}
footer .tel {
    flex: 1;
    padding-top: 125px;
}
footer a {
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
    padding-left: 80px;
}
footer .email {
    flex: 1;
    padding-top: 125px;
}
footer .linkedin {
    flex: 1;
    padding-top: 125px;
}
footer .github {
    flex: 1;
    padding-top: 125px;
}
/* Tablet Verticale 
@media only screen and (min-width:1024px){
    section {
    margin: 225px 0;
    }
    #text {
        margin-top: 50px;
    }
    br {
        content: "";
        display: block;
        margin-bottom: 10px;
    }
    header {
    height: 225px;
    }
    header h1 {
        font-size: xx-large;
    }
    header p {
        font-size: x-large;
    }
    header img {
        width: 18%;
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #contact {
        font-size: large;
    }
    #pro {
        margin-top: -225px;
        font-size: medium;
    }
    #pro .recherches {
        margin-top: -20px;
    }
    #pro .recherches .recherche {
        font-size: medium;
    }
    #pro .recherches .competences {
        font-size: medium;
    }
}*/