body {
    background-color: #262d39;
}
.menu {
    position: absolute;
    z-index: 2000;
    top: 25px;
    left: 1300px;
    width: 180px;
    height: 250px;
    background-image: url(../images/photo_identite.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.navbar {
    position: absolute;
    top: -30px;
    left: -285px;
    background: none;
    width: 280px;
    height: 210px;
    overflow: hidden;
    color: #eceef1;
    transform: translateY(-100%);
    transition: transform 0s linear;
    opacity: 0%;
    margin-top: 10px;
}
.navbar a {
    margin-left: 105px;
    font-size: 25px;
    color: #eceef1;
}
.showNav {
    transform: translateY(15%);
    opacity: 100%;
    background-color: #212529;
}
img {
    display: block;
    width: 100%;
}
.imgflo {
    float: left;
    width: 55px;
}
section {
    display: block;
    background-color: #262d39;
}
br {
    content: "";
    display: block;
    margin-bottom: 4px;
}
.dates {
    content: "";
    display: block;
    margin-top: 17px;
}
.nws {
    content: "";
    display: block;
    margin-top: 6px;
}
.sto {
    content: "";
    display: block;
    margin-top: 6px;
}
.espace {
    content: "";
    display: block;
    margin-bottom: 55px;
}
header #text {
    display: block;
    position: absolute;
    margin-top: 40px;
    left: 50px;
}
header {
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #212529;
    height: 225px;
}
header #text .text {
    display: block;
    top: 50px;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: rgb(75, 145, 236);
    text-decoration: underline red;
}
header #text .desc {
    font-size: 30px;
    text-align: center;
    font-weight: italic;
    color: #eceef1;
    margin-bottom: 3px;
    opacity: 100%;
}
header #text .desc1 {
    opacity: 0%;
}
header #text .saut {
    content: "";
    display: block;
    margin-bottom: 50px;
}
header .header {
    content: "";
    display: block;
    margin-bottom: 25px;
}

#pro .recherches{
    display: flex;
    box-sizing: border-box;
}
#pro .recherches .competences {
    flex: auto;
    font-size: 20px;
    text-align: center;
    display: block;
    position: absolute;
    left: 1200px;
    top: 500px;
}
#pro .recherches .competences br {
    content: "";
    display: block;
    margin-bottom: 55px;
}
.br {
    content: "";
    display: block;
    margin-bottom: 25px;
}
#pro .recherches .competences h3 {
    font-size: 25px;
    color: yellow;
}
#pro .recherches .competences h4 {
    color : #eceef1;
    font-size: 23px;
}
.formation .formations {
    display: block;
    position: absolute;
    top: 500px;
    left: 125px;
}
.formation .projets {
    display: block;
    position: absolute;
    top: 925px;
    left: 125px;
}
.formation .projets .br {
    content: "";
    display: block;
    margin-bottom: 45px;
}
.formation h3 {
    font-size: 25px;
    color: yellow;
}
.formation h4 {
    font-size: 23px;
    color: #eceef1;
}
.formation .spe{
    font-size: 18px;
    color: #eceef1;
}
.formation .date{
    font-size: 16px;
    font-style: italic;
    color: rgb(83, 228, 85);
}
.formation .projets .espace {
    content: "";
    display: block;
    margin-bottom: 30px;
}
#end .fin {
    display: flex;
    position: absolute;
    top: 1400px;
    left: 125px;
    box-sizing: border-box;
}
#end .fin .experience {
    flex: auto;
}
#end .fin .experience .br {
    content: "";
    display: block;
    margin-bottom: 40px;
}
#end .fin .experience .espace {
    content: "";
    display: block;
    margin-bottom: 35px;
}
#end .fin h3 {
    font-size: 25px;
    color: yellow;
}
#end .fin h4 {
    font-size: 24px;
    color: #eceef1;
}
#end .fin .experience .experiences p.date {
    font-size: 20px;
    color: rgb(83, 228, 85);
}
#end .fin .experience .experiences p.description {
    font-size: 21px;
    color: rgb(106, 163, 238);
}

#passion .pass .passion {
    flex: auto;
    display: block;
    position: absolute;
    top: 1750px;
    left: 125px;
}
#passion .pass .passion h3 {
    font-size: 25px;
    color: yellow;
}
#passion .pass .passion h4 {
    font-size: 24px;
    color: #eceef1;
}
#passion .pass .passion br {
    content: "";
    display: block;
    margin-bottom: 30px;
}

footer {
    display: flex;
    position: absolute;
    top: 200px;
    width: 100%;
    box-sizing: border-box;
    height: 200px;
    background-color: #212529;
}
footer .adress {
    flex: 1;
    color:rgb(83, 228, 85);
    text-decoration: underline;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 125px;
}
footer .tel {
    flex: 1;
    padding-top: 125px;
}
footer a {
    color:rgb(83, 228, 85);
    text-decoration: underline;
    font-size: 20px;
    padding-left: 80px;
}
footer .email {
    flex: 1;
    padding-top: 125px;
}
footer .linkedin {
    flex: 1;
    padding-top: 125px;
}
footer .github {
    flex: 1;
    padding-top: 125px;
}

/* Responsive */

@media only screen and (max-width:800px){
    #text {
        display: block;
        position: relative;
    }
    header #text {
        margin-top: 40px;
        left: 15px;
    }
    header {
        height: 100px;
    }
    header #text .text {
        font-size: 15px;
        margin-left: -50px;
    }
    header #text .desc {
        font-size: 10px;
    }
    header #text .header {
        margin-bottom: 15px;
    }   
    footer {
        display: block;
        top: 100px;
        height: 150px;
    }
    #footer nav {
        width: 110px;
    }
    footer .adress {
        flex: 0;
        font-size: 10px;
        padding-left: 10px;
        padding-top: 65%;
        width: 120px;
    }
    footer .tel {
        flex: 0;
        display: block;
        position: absolute;
        padding-top: 0px;
        top: 46%;
        left: 50%;
    }
    footer a {
        font-size: 10px;
        padding-left: 10px;
    }
    footer .email {
        flex: 0;
        display: block;
        position: absolute;
        padding-top: 0px;
        top: 58%;
        left: 50%;
    }
    footer .linkedin {
        flex: 0;
        padding-top: 0px;
        display: block;
        position: absolute;
        top: 80%;
        left: 2%;
    }
    footer .github {
        flex: 0;
        padding-top: 0px;
        display: block;
        position: absolute;
        top: 80%;
        left: 50%;
    }
    .menu {
        top: 5px;
        left: 75%;
        width: 50px;
        height: 85px;
    }
    .navbar {
        top: -30px;
        left: -85px;
        width: 80px;
        height: 80px;
        margin-top: 15px;
    }
    .navbar a {
        margin-left: 10px;
        font-size: 10px;
    }
    #pro .recherches .competences {
        left: 30%;
        top: 850px;
    }
    #pro .recherches .competences br {
        margin-bottom: 40px;
    }
    .br {
        margin-bottom: 5px;
    }
    #pro .recherches .competences h3 {
        font-size: 12.5px;
    }
    #pro .recherches .competences h4 {
        font-size: 10px;
    }
    .imgflo {
        float: left;
        width: 30px;
    }
    .formation .formations {
        top: 280px;
        left: 10px;
    }
    .formation .projets {
        top: 525px;
        left: 10px;
    }
    .formation .projets .br {
        margin-bottom: 25px;
    }
    .formation h3 {
        font-size: 15px;
    }
    .formation h4 {
        font-size: 12px;
    }
    .formation .spe{
        font-size: 10px;
    }
    .formation .date{
        margin-top: -8px;
        font-size: 8px;
    }
    .formation .espace {
        margin-bottom: 30px;
    }
    .formation .projets .espace {
        margin-bottom: 20px;
    }
    #end .fin {
        top: 1500px;
        left: 10px;
    }
    #end .fin .experience .br {
        margin-bottom: 20px;
    }
    #end .fin .experience .espace {
        margin-bottom: 19px;
    }
    #end .fin h3 {
        font-size: 15px;
    }
    #end .fin h4 {
        font-size: 12px;
    }
    #end .fin .experience .experiences p.date {
        font-size: 10px;
    }
    #end .fin .experience .experiences p.description {
        font-size: 11px;
    }
    .dates {
        margin-top: 8.5px;
    }
    #passion .pass .passion {
        top: 1700px;
        left: 10px;
    }
    #passion .pass .passion h3 {
        font-size: 15px;
    }
    #passion .pass .passion h4 {
        font-size: 12px;
    }
    #passion .pass .passion br {
        margin-bottom: 15px;
    }
}
/*

*/
