.title h1 {
    color: black;
    font-size: 50px;
    text-align: center;
    left: 250px;
    margin: 50px 0;
}
.gal {
    display: block;
    position: relative;
    left: 105px;
    width: 1000px;
    height: 500px;
    background: none;
}
.gal .splide {
    display: block;
    position: absolute;
    left: 200px;
    width: 1000px;
    height: 500px;
}
.gal .splide img {
    display: block;
    position: absolute;
    left: -0px;
    width: 1000px;
    height: 500px;
    top: 0px;
}
.gal .splide .img-fluid-text1 {
    display: block;
    position: absolute;
    top: 520px;
    left: 300px;
    color: black;
    font-size: 40px;
}
.gal .img-fluid1 {
    position: absolute;
    width: 600px; 
    height: 400px;
    left: 400px;
}
.gal .img-fluid2 {
    position: absolute;
    width: 600px; 
    height: 400px;
    left: 400px;
}
.gal .splide .img-fluid-text2 {
    display: block;
    position: absolute;
    top: 520px;
    left: 50px;
    color: black;
    font-size: 40px;
}