.gal {
    display: block;
    position: absolute;
    top: 200px;
    width: 1000px;
    height: 1000px;
}
.gal .splide {
    display: block;
    position: absolute;
    top: 100px;
    left: 175px;
    width: 2000px;
    height: 1000px;
}
.gal .splide img {
    display: block;
    position: absolute;
    left: -0px;
    width: 2000px;
    height: 1000px;
    top: 0px;
}
.gal .splide .img-fluid-text1 {
    display: block;
    position: absolute;
    top: 930px;
    left: 300px;
    color: black;
    font-size: 40px;
}
.gal .img-fluid1 {
    position: absolute;
    width: 600px; 
    height: 400px;
    left: 400px;
}
.gal .img-fluid2 {
    position: absolute;
    width: 600px; 
    height: 400px;
    left: 400px;
}
.gal .splide .img-fluid-text2 {
    display: block;
    position: absolute;
    top: 400px;
    left: 80px;
}