section {
    margin: 200px 0;
}
.presentation {
    display: block;
    position: relative;
    top: 5%;
}
.quimg {
    display: block;
    position: relative;
    margin-top: 3%;
    left: 30%;
    width: 40%;
    height: 75%;
}
.presentation .question {
    display: block;
    position: relative;
    top: 100%;
}
.presentation .que {
    display: block;
    position: relative;
    top: 100%;
}
.presentation .comment {
    display: block;
    position: relative;
    top: 100%;
}
.presentation .comment a {
    color: blue;
}
.presentation .pourquoi {
    display: block;
    position: relative;
    top: 100%;
}
.presentation .qui {
    color: black;
    font-size: 25px;
    text-align: center;
}
.presentation .quirep {
    color: #161b22;
    font-size: 20px;
    text-align: center;
}
.presentation .brpresentation {
    content: "";
    display: block;
    margin-bottom: 15px;
}
.presentation .brsepar {
    content: "";
    display: block;
    margin-bottom: 35px;
}

.update {
    display: block;
    position: relative;
    background: none;
    margin-bottom: 70px;
}
.brv {
    content: "";
    display: block;
    margin-bottom: 25px;
}
.update h1 {
    color: orangered;
    font-size: 30px;
    text-align: left;
    margin-bottom: 30px;
}
.update .version h2 {
    color: black;
}
.update .version .v1 {
    position: relative;
    color: #161b22;
    font-size: 20px;
    text-align: center;
}
.update .version .v2 {
    position: relative;
    color: #161b22;
    font-size: 20px;
    text-align: center;
}
.update .version .v3 {
    position: relative;
    color: #161b22;
    font-size: 20px;
    text-align: center;
}
.update .version .v4 {
    position: relative;
    color: #161b22;
    font-size: 20px;
    text-align: center;
}
.update .version .v5 {
    position: relative;
    color: #161b22;
    font-size: 20px;
    text-align: center;
}
.update .version .v6 {
    position: relative;
    color: #161b22;
    font-size: 20px;
    text-align: center;
}
.update h2, a {
    color: black;
    font-size: 25px;
}
.update a {
    color: blue;
}
.update .git {
    text-align: left;
    margin-left: 0%;
}
.update .linkgit {
    color: black;
    font-size: 15px;
    text-align: left;
}
.big {
    content: "";
    display: block;
    margin-bottom: 40px;
}

/*Responsive*/

@media only screen and (max-width:800px){
    section {
        margin: 20px 0;
    }
    .presentation {
        display: block;
    }    
    .quimg {
        margin-top: 20%;
        left: 25%;
        height: 25%;
        width: 50%;
    }
    .presentation .question .qui {
        font-size: 15px;
    }
    .presentation .question .quirep {
        font-size: 10px;
    }
    .presentation .que .qui {
        font-size: 15px;
    }
    .presentation .que .quirep {
        font-size: 10px;
    }
    .presentation .comment .qui {
        font-size: 15px;
    }
    .presentation .comment .quirep {
        font-size: 10px;
    }
    .presentation .comment a {
        font-size: 10px;
    }
    .presentation .pourquoi .qui {
        font-size: 15px;
    }
    .presentation .pourquoi .quirep {
        font-size: 10px;
    }

    /*Update*/

    .update {
        top: 10%;
        left: 1%;
    }
    .brv {
        margin-bottom: 15px;
    }
    .update h1 {
        color: orangered;
        font-size: 15px;
        margin-bottom: 15px;
    }
    .update .version .v1{
        font-size: 10px;
    }
    .update .version .v2{
        font-size: 10px;
    }
    .update .version .v3{
        font-size: 10px;
    }
    .update .version .v4{
        font-size: 10px;
    }
    .update .version .v5{
        font-size: 10px;
    }
    .update .version .v6{
        font-size: 10px;
    }
    .update h2, a {
        font-size: 12.5px;
    }
    .update .linkgit {
        font-size: 8px;
    }
    .big {
        content: "";
        display: block;
        margin-bottom: 50px;
    }

}
/*
*/