.presentation {
    display: block;
    position: absolute;
    top: 50px;
    left: 10%;
}
.quimg {
    display: block;
    position: absolute;
    top: 5%;
    left: 25%;
    width: 40%;
    height: 75%;
}
.presentation .question {
    display: block;
    position: relative;
    top: 400px;
}
.presentation .que {
    display: block;
    position: relative;
    top: 450px;
}
.presentation .comment {
    display: block;
    position: relative;
    top: 500px;
}
.presentation .comment a {
    color: blue;
}
.presentation .pourquoi {
    display: block;
    position: relative;
    top: 550px;
}
.presentation .qui {
    color: black;
    font-size: 25px;
    text-align: center;
}
.presentation .quirep {
    color: #161b22;
    font-size: 20px;
    text-align: center;
}
.presentation .brpresentation {
    content: "";
    display: block;
    margin-bottom: 15px;
}

.update {
    display: block;
    position: absolute;
    background: none;
    top: 185%;
    left: 18%;
}
.brv {
    content: "";
    display: block;
    margin-bottom: 20px;
}
.update h1 {
    color: orangered;
    font-size: 30px;
    text-align: left;
    margin-left: -20%;
    margin-bottom: 30px;
}
.update .version h2 {
    color: black;
}
.update .version .v1 {
    position: relative;
    color: #161b22;
    font-size: 20px;
    text-align: center;
}
.update .version .v2 {
    position: relative;
    color: #161b22;
    font-size: 20px;
    text-align: center;
}
.update .version .v3 {
    position: relative;
    color: #161b22;
    font-size: 20px;
    text-align: center;
}
.update .version .v4 {
    position: relative;
    color: #161b22;
    font-size: 20px;
    text-align: center;
}
.update h2, a {
    color: black;
    font-size: 25px;
}
.update a {
    color: blue;
}
.update .git {
    text-align: left;
    margin-left: -20%;
    margin-bottom: 30px;
}
.update .linkgit {
    color: black;
    font-size: 15px;
    text-align: left;
}
.big {
    content: "";
    display: block;
    margin-bottom: 40px;
}
footer {
    top: 300%;
}
/* Tablet Verticale 
@media only screen and (min-width:1024px){
    section {
    margin: 225px 0;
    }
    #text {
        margin-top: 50px;
    }
    br {
        content: "";
        display: block;
        margin-bottom: 10px;
    }
    header {
    height: 225px;
    }
    header h1 {
        font-size: xx-large;
    }
    header p {
        font-size: x-large;
    }
    header img {
        width: 18%;
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #contact {
        font-size: large;
    }
    #pro {
        margin-top: -225px;
        font-size: medium;
    }
    #pro .recherches {
        margin-top: -20px;
    }
    #pro .recherches .recherche {
        font-size: medium;
    }
    #pro .recherches .competences {
        font-size: medium;
    }
}*/