.presentation {
    display: block;
    position: absolute;
    top: 300px;
    left: 300px;
}
.presentation .qui {
    color: tomato;
    font-size: 60px;
    text-align: center;
}
.presentation .quirep {
    color: teal;
    font-size: 50px;
    text-align: center;
}
.presentation .brpresentation {
    content: "";
    display: block;
    margin-bottom: 30px;

}

.update {
    display: block;
    position: absolute;
    top: 800px;
}
.update h1 {
    color: green;
    font-size: 60px;
    text-align: left;
}
.update .version .v1 {
    color: black;
    font-size: 50px;
    text-align: center;
}
.update .version .v2 {
    color: black;
    font-size: 50px;
    text-align: center;
}
.update .version .v3 {
    color: black;
    font-size: 50px;
    text-align: center;
}
footer {
    top: 2000px;
}
/* Tablet Verticale 
@media only screen and (min-width:1024px){
    section {
    margin: 225px 0;
    }
    #text {
        margin-top: 50px;
    }
    br {
        content: "";
        display: block;
        margin-bottom: 10px;
    }
    header {
    height: 225px;
    }
    header h1 {
        font-size: xx-large;
    }
    header p {
        font-size: x-large;
    }
    header img {
        width: 18%;
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #contact {
        font-size: large;
    }
    #pro {
        margin-top: -225px;
        font-size: medium;
    }
    #pro .recherches {
        margin-top: -20px;
    }
    #pro .recherches .recherche {
        font-size: medium;
    }
    #pro .recherches .competences {
        font-size: medium;
    }
}*/