.presentation {
    display: block;
    position: relative;
    margin: 2% 0;
}
.quimg {
    display: block;
    position: relative;
    left: 27%;
    width: 40%;
    height: 75%;
    margin-top: -3%;
    margin-bottom: -5%;
}
.presentation .question {
    display: block;
    position: relative;
}
.presentation .que {
    display: block;
    position: relative;
}
.presentation .comment {
    display: block;
    position: relative;
}
.presentation .comment a {
    color: rgb(83, 228, 83);
}
.presentation .pourquoi {
    display: block;
    position: relative;
}
.presentation .qui {
    color: yellow;
    font-size: 25px;
    text-align: center;
}
.presentation .quirep {
    color: #eceef1;
    font-size: 20px;
    text-align: center;
}
.presentation .brpresentation {
    content: "";
    display: block;
    margin-bottom: 15px;
}
.presentation .brsepar {
    content: "";
    display: block;
    margin-bottom: 35px;
}

.update {
    display: block;
    position: relative;
    background: none;
}
.brv {
    content: "";
    display: block;
    margin-bottom: 25px;
}
.update .imgupdate {
    display: block;
    position: relative;
    left: 15%;
    width: 70%;
    height: auto;
    margin: -9% 0;
}
.update h1 {
    color: rgb(75, 145, 236);
    text-decoration: underline red;
    font-size: 30px;
    text-align: left;
    padding-top: 2%;
    padding-left: 3%;
    margin-bottom: 30px;
}
.update .version h2 {
    color: yellow;
}
.update .version .v1 {
    position: relative;
    color: #eceef1;
    font-size: 20px;
    text-align: center;
}
.update .version .v2 {
    position: relative;
    color: #eceef1;
    font-size: 20px;
    text-align: center;
}
.update .version .v3 {
    position: relative;
    color: #eceef1;
    font-size: 20px;
    text-align: center;
}
.update .version .v4 {
    position: relative;
    color: #eceef1;
    font-size: 20px;
    text-align: center;
}
.update .version .v5 {
    position: relative;
    color: #eceef1;
    font-size: 20px;
    text-align: center;
}
.update .version .v6 {
    position: relative;
    color: #eceef1;
    font-size: 20px;
    text-align: center;
}
.update .version .v7 {
    position: relative;
    color: #eceef1;
    font-size: 20px;
    text-align: center;
}
.update .version .v8 {
    position: relative;
    color: #eceef1;
    font-size: 20px;
    text-align: center;
}
.update .version .v9 {
    position: relative;
    color: #eceef1;
    font-size: 20px;
    text-align: center;
}
.update .version .v10 {
    position: relative;
    color: #eceef1;
    font-size: 20px;
    text-align: center;
}
.update h2, a {
    color: #eceef1;
    font-size: 25px;
}
.update a {
    color: rgb(83, 228, 83);
}
.update .git {
    display: block;
    position: relative;
    text-align: left;
    padding-top: 1%;
    padding-left: 3%;
    padding-bottom: 4%;
}
.big {
    content: "";
    display: block;
    margin-bottom: 40px;
}

/*Responsive*/

@media only screen and (max-width:800px){
    section {
        margin: 0 0;
    }
    .presentation {
        display: block;
    }    
    .quimg {
        left: 20%;
        height: 25%;
        width: 50%;
    }
    .presentation .question .qui {
        font-size: 15px;
    }
    .presentation .question .quirep {
        font-size: 10px;
    }
    .presentation .que .qui {
        font-size: 15px;
    }
    .presentation .que .quirep {
        font-size: 10px;
    }
    .presentation .comment .qui {
        font-size: 15px;
    }
    .presentation .comment .quirep {
        font-size: 10px;
    }
    .presentation .comment a {
        font-size: 10px;
    }
    .presentation .pourquoi .qui {
        font-size: 15px;
    }
    .presentation .pourquoi .quirep {
        font-size: 10px;
    }

    /*Update*/

    .update {
        left: 1%;
    }
    .brv {
        margin-bottom: 15px;
    }
    .update .imgupdate {
        left: 10%;
        width: 80%;
        height: auto;
    }
    .update h1 {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .update .version .v1 {
        font-size: 10px;
    }
    .update .version .v2 {
        font-size: 10px;
    }
    .update .version .v3 {
        font-size: 10px;
    }
    .update .version .v4 {
        font-size: 10px;
    }
    .update .version .v5 {
        font-size: 10px;
    }
    .update .version .v6 {
        font-size: 10px;
    }
    .update .version .v7 {
        font-size: 10px;
    }
    .update .version .v8 {
        font-size: 10px;
    }
    .update .version .v9 {
        font-size: 10px;
    }
    .update .version .v10 {
        font-size: 10px;
    }
    .update h2, a {
        font-size: 12.5px;
    }
    .big {
        content: "";
        display: block;
        margin-bottom: 50px;
    }
    .update .git {
        padding-bottom: 10%;
    }
}