body {
    background-color: whitesmoke;
}
.menu {
    position: absolute;
    z-index: 2000;
    top: 30px;
    left: 10%;
    width: 10%;
    height: 80%;
    background-image: url(../images/photo_identite.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
}
.navbar {
    position: absolute;
    top: -30px;
    left: 130px;
    background: none;
    width: 200px;
    height: 200px;
    overflow: hidden;
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
    opacity: 0%;
}
.navbar a {
    font-size: 25px;
}
.showNav {
    transform: translateY(13%);
    opacity: 100%;
}
img {
    display: block;
    width: 25%;
}
section {
    display: block;
    padding: 25px;
    margin: 240px 0;
    background-color: whitesmoke;
}
br {
    content: "";
    display: block;
    margin-bottom: 4px;
}
#text {
    display: block;
}
header {
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    background-color: grey;
    height: 225px;
}
header #text .text {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
}
header #text .info {
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
}
header #text .saut {
    content: "";
    display: block;
    margin-bottom: 25px;
}


footer {
    height: 250px;
    position: absolute;
    top: 1700px;
    width: 100%;
    box-sizing: border-box;
    background-color: grey;
}
footer .contacts {
    display: block;
    padding-left: 100px;
}
footer .reseaux {
    display: block;
    padding-left: 25px;
}
footer ul {
    display: inline-flex;
}
footer .contact {
    text-align: left;
    color: whitesmoke;
    text-decoration: bold;
    font-size: 30px;
    padding-left: 100px;
    padding-top: 35px;
}
footer .adress {
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
    padding-left: 100px;
    padding-top: 20px;
}
footer .tel {
    color: whitesmoke;
    text-align: center;
    padding-top: 20px;
}
footer a {
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
    padding-left: 100px;
}
footer .email {
    text-align: center;
    padding-top: 20px;
}
footer .reseau {
    text-align: left;
    color: whitesmoke;
    text-decoration: bold;
    font-size: 30px;
    padding-left: 100px;
    padding-top: 35px;
}
footer .linkedin {
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
    padding-left: 100px;
    padding-top: 20px;
}
footer .github {
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
    padding-left: 100px;
    padding-top: 20px;
}
footer .downloads {
    display: block;
    padding-left: 25px;
}
footer .download {
    text-align: left;
    color: whitesmoke;
    text-decoration: bold;
    font-size: 30px;
    padding-left: 150px;
    padding-top: 35px;
}
footer .cv {
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
    padding-left: 280px;
    padding-top: 20px;
}