.a .b {
    display: block;
    position: absolute;
    top: 500px;
    left: 300px;
    font-size: xx-large;
    color: black;
}
/* Tablet Verticale 
@media only screen and (min-width:1024px){
    section {
    margin: 225px 0;
    }
    #text {
        margin-top: 50px;
    }
    br {
        content: "";
        display: block;
        margin-bottom: 10px;
    }
    header {
    height: 225px;
    }
    header h1 {
        font-size: xx-large;
    }
    header p {
        font-size: x-large;
    }
    header img {
        width: 18%;
        margin-right: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #contact {
        font-size: large;
    }
    #pro {
        margin-top: -225px;
        font-size: medium;
    }
    #pro .recherches {
        margin-top: -20px;
    }
    #pro .recherches .recherche {
        font-size: medium;
    }
    #pro .recherches .competences {
        font-size: medium;
    }
}*/