body {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}

/*Menu*/

.menu {
    position: absolute;
    z-index: 2000;
    top: 30px;
    left: 10%;
    width: 10%;
    height: 80%;
    background-image: url(../images/photo_identite.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
}
.navbar {
    position: absolute;
    top: 10px;
    left: 0px;
    background-color: grey;
    width: 200px;
    height: 130px;
    overflow: hidden;
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
    opacity: 0%;
}
.menu .navbar a {
    font-size: 25px;
}
.showNav {
    transform: translateY(140%);
    opacity: 100%;
}

/*Commun*/

img {
    display: block;
    width: 25%;
}
br {
    content: "";
    display: block;
    margin-bottom: 4px;
}

/*Header*/

#text {
    display: block;
    position: relative;
}
header {
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    background-color: grey;
    height: 225px;
}
header #text .text {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
}
header #text .info {
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
}
header #text .saut {
    content: "";
    display: block;
    margin-bottom: 25px;
}

/*Footer*/

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: grey;
    z-index: 1000;
}
footer .contacts {
    display: block;
    padding-left: 100px;
}
footer .reseaux {
    display: block;
    padding-left: 25px;
}
footer ul {
    display: inline-flex;
}
footer .contact {
    text-align: left;
    color: whitesmoke;
    text-decoration: bold;
    font-size: 30px;
    padding-left: 100px;
    padding-top: 35px;
}
footer .adress {
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
    padding-left: 100px;
    padding-top: 20px;
}
footer .tel {
    color: whitesmoke;
    text-align: center;
    padding-top: 20px;
}
footer a {
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
    padding-left: 100px;
}
footer .email {
    text-align: center;
    padding-top: 20px;
}
footer .reseau {
    text-align: left;
    color: whitesmoke;
    text-decoration: bold;
    font-size: 30px;
    padding-left: 100px;
    padding-top: 35px;
}
footer .linkedin {
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
    padding-left: 100px;
    padding-top: 20px;
}
footer .github {
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
    padding-left: 100px;
    padding-top: 20px;
}
footer .downloads {
    display: block;
    padding-left: 25px;
}
footer .download {
    text-align: left;
    color: whitesmoke;
    text-decoration: bold;
    font-size: 30px;
    padding-left: 150px;
    padding-top: 35px;
}
footer .cv {
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
    padding-left: 280px;
    padding-top: 20px;
}

/*Responsive*/

@media only screen and (max-width:1024px){

    /*Header*/

    #text {
        display: block;
        position: absolute;
        left: 25%;
    }
    header {
        height: 100px;
    }
    header #text .text {
        margin-top: 10px;
        font-size: 15px;
    }
    header #text .info {
        font-size: 10px;
    }
    header #text .saut {
        margin-bottom: 15px;
    }

    /*Menu*/

    .menu {
        top: 15px;
        left: 3%;
        width: 15%;
    }
    .menu .navbar {
        left: 0%;
        background: grey;
        width: 100%;
        height: 100%;
    }
    .menu .navbar a {
        font-size: 10px;
    }

    /*Footer*/

    footer {
        height: 370px;
    }
    footer ul {
        display: block;
    }
    footer .contacts {
        padding-left: 15%;
    }
    footer .contact {
        font-size: 15px;
        padding-left: 5%;
        padding-top: 5%;
    }
    footer .adress {
        font-size: 10px;
        padding-top: 4%;
        padding-left: 0.2%;
    }
    footer .tel {
        padding-top: 4%;
    }
    footer a {
        font-size: 10px;
        padding-left: 0.2%;
    }
    footer .email {
        padding-top: 4%;
        padding-left: 1%;
    }
    footer .reseaux {
        padding-left: 15%;
        padding-top: 5%;
    }
    footer .reseau {
        font-size: 15px;
        padding-left: 5%;
        padding-top: 5%;
    }
    footer .linkedin {
        font-size: 10px;
        padding-top: 4%;
        padding-left: 1%;
    }
    footer .github {
        font-size: 10px;
        padding-top: 4%;
        padding-left: 1%;
    }
    footer .downloads {
        padding-left: 15%;
        padding-top: 5%;
    }
    footer .download {
        font-size: 15px;
        padding-top: 4%;
        padding-left: 1%;
    }
    footer .cv {
        font-size: 10px;
        padding-top: 4%;
        padding-left: 1%;
    }
}