body {
    background-color: whitesmoke;
}
.menu {
    position: absolute;
    z-index: 2000;
    top: 50px;
    left: 90px;
    width: 1000px;
    height: 2000px;
}
.menu image {
    width: 100%;
}
.navbar {
    position: absolute;
    top: 450px;
    left: -90px;
    background: none;
    width: 500px;
    height: 200px;
    overflow: hidden;
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
    opacity: 0%;
}
.navbar a {
    font-size: 60px;
}
.showNav {
    transform: translateY(0);
    opacity: 100%;
}
img {
    display: block;
    width: 25%;
}
#text {
    display: block;
    flex: 1 100px;
    margin-top: 10px;
}
header {
    display: flex;
    position: absolute;
    top: 0;
    width: 2480px;
    box-sizing: border-box;
    z-index: 1000;
    background-color: grey;
    height: 450px;
}
header h1 {
    top: 10px;
    margin-top: 150px;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    color: black;
}
.qcm {
    padding-top: 500px;
}
#wrapper {
    display: block;
    width: 1200px;
    margin: 0 auto;
    background: grey;
    padding: 15px 25px;
    border-radius: 10px;
    top: 1000px;
}
#wrapper h1 {
    font-size: 50px;
    color: red;
}
#wrapper .h1 {
    font-size: 35px;
}
#wrapper h2 {
    font-size: 30px;
    color: orangered;
}
#wrapper p {
    font-size: 25px;
}
#wrapper .space {
    content: "";
    display: block;
    margin-bottom: 50px;
}
#wrapper br {
    content: "";
    display: block;
    margin-bottom: 30px;
}
#wrapper .q {
    width: 1000px;
    height: 50px;
}
#wrapper .small {
    content: "";
    display: block;
    margin-top: 30px;
}
label p {
    margin-top: -20px;
    margin-left: 30px;
    font-size: 40px;
}
input {
    margin: 20px 40px;
}
button {
    font-size: 30px;
    padding: 10px;
    margin: 20px 0;
    color: white;
    border: 0;
    border-radius: 10px;
    border-bottom: 3px solid #333;
}
#submit {
    background: green;
}
#reset {
    background: red;
}
#answer {
    border: 1px dashed #ccc;
    background: #eee;
    padding: 10px;
    width: 1000px;
    height: 50px;
    font-size: 50px;
    text-align: center;
}
footer {
    height: 300px;
    display: flex;
    position: absolute;
    top: 1700px;
    width: 2480px;
    box-sizing: border-box;
    background-color: grey;
}
footer .adress {
    flex: 1;
    text-align: center;
    color: red;
    text-decoration: underline;
    font-size: 35px;
    padding-left: 320px;
    padding-top: 100px;
}
footer .tel {
    flex: 1;
    text-align: center;
    padding-top: 100px;
}
footer a {
    color: red;
    text-decoration: underline;
    font-size: 35px;
    padding-left: 320px;
}
footer .email {
    flex: 1;
    text-align: center;
    padding-top: 100px;
}