body {
    background-color: #262d39;
    width: 100%;
    position: relative;
}

/*Menu*/

.menu {
    position: relative;
    z-index: 2000;
    top: 30px;
    left: 10%;
    width: 10%;
    height: 80%;
    background-image: url(../images/photo_identite.jpg);
    background-size: 80%;
    background-repeat: no-repeat;
}
.navbar {
    position: relative;
    top: 10px;
    left: 0px;
    background-color: #212529;
    width: 200px;
    height: 130px;
    overflow: hidden;
    color: white;
    transform: translateY(-100%);
    transition: transform 0.2s ease;
    opacity: 0%;
}
.menu .navbar a {
    font-size: 25px;
    color: #eceef1;
}
.showNav {
    transform: translateY(140%);
    opacity: 100%;
}

/*Commun*/

img {
    display: block;
    width: 25%;
}
br {
    content: "";
    display: block;
    margin-bottom: 4px;
}

/*Header*/

#text {
    position: relative;
    flex-grow: 2;
    padding-top: 3%;
}
header {
    display: inline-flex;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #212529;
    height: 225px;
}
header #text .text {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: whitesmoke;
}
header #text .info {
    font-size: 25px;
    color: whitesmoke;
    text-align: center;
}
header #text .saut {
    content: "";
    display: block;
    margin-bottom: 25px;
}

/*Footer*/

footer {
    margin-top: 5%;
    padding-top: 2%;
    width: 100%;
    height: 270px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #212529;
    z-index: 1000;
}
footer li {
    width: 280px;
    height: auto;
}
footer .footer {
    position: relative;
    display: inline-flex;
    padding: 2% 22%;
}
footer .contacts {
    display: block;
    position: relative;
}
footer .reseaux {
    display: block;
    position: relative;
}
footer .contact {
    text-align: left;
    color: whitesmoke;
    text-decoration: bold;
    font-size: 30px;
}
footer .adress {
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
}
footer .tel {
    color: whitesmoke;
    text-align: center;
}
footer a {
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
}
footer .email {
    text-align: center;
}
footer .reseau {
    text-align: left;
    color: whitesmoke;
    text-decoration: bold;
    font-size: 30px;
}
footer .linkedin {
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
}
footer .github {
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
}
footer .downloads {
    display: block;
    position: relative;
}
footer .download {
    text-align: left;
    color: whitesmoke;
    text-decoration: bold;
    font-size: 30px;
}
footer .cv {
    text-align: center;
    color: whitesmoke;
    text-decoration: underline;
    font-size: 20px;
}
footer .mention {
    position: absolute;
    bottom: 1%;
    left: 30%;
    font-size: 18px;
    text-align: center;
    color: #0a9f8a;
}

/*Responsive*/

@media only screen and (max-width:800px){

    /*Header*/

    #text {
        display: block;
        position: relative;
    }
    header {
        height: 100px;
    }
    header #text .text {
        font-size: 15px;
    }
    header #text .info {
        font-size: 10px;
    }

    /*Menu*/

    .menu {
        top: 15px;
        left: 3%;
        width: auto;
    }
    .menu .navbar {
        left: 0%;
        width: 100%;
        height: 100%;
    }
    .menu .navbar a {
        font-size: 10px;
    }
    .showNav {
        transform: translateY(90%);
    }

    /*Footer*/

    footer {
        height: 300px;
    }
    footer .footer {
        padding: 1% 15%;
        display: list-item;
    }
    footer .lifooter {
        padding-top: 10%;
    }
    footer .contact {
        font-size: 15px;
    }
    footer .adress {
        font-size: 10px;
    }
    footer a {
        font-size: 10px;
    }
    footer .reseau {
        font-size: 15px;
    }
    footer .linkedin {
        font-size: 10px;
    }
    footer .github {
        font-size: 10px;
    }
    footer .download {
        font-size: 15px;
    }
    footer .cv {
        font-size: 10px;
    }
    footer .mention {
        left: 0;
        font-size: 10px;
    }
}